{% load i18n %}

{% include "gift_manager/includes/forms/field.html" with field=form.name %}
{% include "gift_manager/includes/forms/field.html" with field=form.comment %}
{% include "gift_manager/includes/forms/field.html" with field=form.date_type radio_group_class="date-type-selection" %}
{% include "gift_manager/includes/forms/field.html" with field=form.absolute_date field_id="absolute-date-field" %}
{% include "gift_manager/includes/forms/field.html" with field=form.recurrence field_id="recurrence-field" %}
