{% include "gift_manager/includes/forms/field.html" with field=step_form.recipient %}
{% include "gift_manager/includes/forms/field.html" with field=step_form.gift %}
{% include "gift_manager/includes/forms/field.html" with field=step_form.new_gift_name %}
{% include "gift_manager/includes/forms/field.html" with field=step_form.event %}
{% include "gift_manager/includes/forms/field.html" with field=step_form.new_event_name %}
{% include "gift_manager/includes/forms/field.html" with field=step_form.new_event_date %}
{% include "gift_manager/includes/forms/field.html" with field=step_form.due_date %}
{% include "gift_manager/includes/forms/field.html" with field=step_form.comment %}
