{% load i18n %}

{% include "gift_manager/includes/forms/field.html" with field=form.first_name %}
{% include "gift_manager/includes/forms/field.html" with field=form.family_name %}
{% include "gift_manager/includes/forms/field.html" with field=form.email_address %}
<fieldset class="form-group form-field mb-3">
  <legend class="form-label fs-6">{% trans "Birthday" %}</legend>
  <div class="birthday-row">
    {% for field in form.birthday_fields %}
    <div class="birthday-col birthday-col--{{ field.name|cut:'birthday_' }}">
      <label for="{{ field.id_for_label }}" class="visually-hidden">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
  </div>
  {% for field in form.birthday_fields %}
    {% for error in field.errors %}
    <div class="invalid-feedback d-block">{{ error }}</div>
    {% endfor %}
  {% endfor %}
</fieldset>
{% trans "Search groups..." as groups_search_placeholder %}
{% include "gift_manager/includes/forms/field.html" with field=form.groups searchable=True search_placeholder=groups_search_placeholder select_all_action="select-all-groups" clear_all_action="clear-all-groups" %}
