.dropdown-filter {
    border: 1px solid #ccc;
    border-radius: .25rem;
    background: #fff;
    box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.075);
    padding: .375rem .75rem;
    width: 100%;
    max-width: 200px;
}

.dropdown-filter div {
    padding: .1rem 0;
}

.dropdown-filter label {
    margin: 0;
    font-size: 1rem;
}
