<!DOCTYPE html>
<html lang="en">
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gift Manager{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'gift_manager:home' %}">Gift Manager</a>
        <div class="collapse navbar-collapse">
            {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gift_manager:persons' %}">{% trans "Persons" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gift_manager:person_groups' %}">{% trans "Groups / Families" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gift_manager:gifts' %}">{% trans "Gifts" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gift_manager:events' %}">{% trans "Events" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gift_manager:relation_statuses' %}">{% trans "Gift statuses" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gift_manager:relations' %}">{% trans "Giftings" %}</a>
                </li>
            </ul>
            {% endif %}
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_redirect' %}">Admin</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item mr-2">
                        <a href="{% url 'gift_manager:profile_detail' %}" class="nav-link">{% trans 'My profile' %}</a>
                    </li>
                {% endif %}
                <li class="nav-item mr-2">
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <select name="language" onchange="this.form.submit()">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% for lang in LANGUAGES %}
                            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
                                {{ lang.1 }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </li>
                {% if user.is_authenticated %}
                    <a href="{% url 'account_logout' %}" class="btn btn-danger">{% trans "Sign Out" %}</a>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-success" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
