{% extends "gift_manager/base.html" %}

{% load i18n %}
{% block title %}{% trans "Confirm user account deactivation" %}{% endblock %}

{% block content %}
<h1 class="my-4">{% trans "Confirm user account deactivation" %}</h1>
<p>{% trans "Are you sure you want to deactivate this user account? You can reactivate it later." %}</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">{% trans "Deactivate my user account" %}</button>
    <a href="{{ cancel_url }}" class="btn btn-secondary">{% trans "Cancel" %}</a>
</form>
{% endblock %}
