{% extends "gift_manager/base.html" %}

{% load i18n %}
{% block title %}Gift Manager - {% trans "Add Gift Plan" %}{% endblock %}

{% block content %}
<h1 class="my-4">{% trans "Add Gift Plan for" %} {{ person.first_name }} {{ person.family_name }}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
    <a href="{% url 'gift_manager:person_detail' person.person_id %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
</form>
{% endblock %}
