{% extends "gift_manager/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}Gift Manager - {% trans "Add Gift Plan" %}{% endblock %}

{% block content %}
<div class="container form-page-container">
  <div class="form-page-header">
    <h1>{% trans "Add Gift Plan for" %} {{ person.first_name }} {{ person.family_name }}</h1>
  </div>

  {% url 'gift_manager:person_detail' person.person_id as cancel_url %}
  <form method="post"
        id="main-form"
        class="page-form relation-form"
        data-form-type="relation"
        data-track-changes>
    {% csrf_token %}
    <div class="form-fields">
      {% include "gift_manager/includes/forms/errors.html" %}
      {% include "gift_manager/includes/forms/relation_fields.html" %}
    </div>
    {% include "gift_manager/includes/forms/actions.html" with form_surface="page" %}
  </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'gift_manager/unsaved-changes.js' %}"></script>
{% endblock %}
