{% extends "gift_manager/base.html" %}

{% load i18n %}
{% block title %}{{ action }} {{ translated_type }}{% endblock %}

{% block content %}
<h1 class="my-4">{{ action }} {{ translated_type }}</h1>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        {% if not field.disabled %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" style="vertical-align: top;">{{ field.label_tag }}</label>
            {{ field }}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <div class="text-danger">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
    <a href="{{ cancel_url }}" class="btn btn-secondary">{% trans "Cancel" %}</a>
</form>
{% endblock %}
