{% extends "gift_manager/base.html" %}

{% block title %}{{ type }}{% endblock %}

{% block content %}
<h1 class="my-4">{{ type }} Page</h1>
{% if type == 'Persons' %}
    <button onclick="location.href='{% url 'gift_manager:person_create' %}'">Create New Person</button>
{% elif type == 'Gifts' %}
    <button onclick="location.href='{% url 'gift_manager:gift_create' %}'">Create New Gift</button>
{% elif type == 'Events' %}
    <button onclick="location.href='{% url 'gift_manager:event_create' %}'">Create New Event</button>
{% endif %}
{% load custom_filters %}
<table id="data-table" class="table table-striped">
    <thead>
        <tr>
            {% for col, name in column_names.items %}
            <th>{{ name }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
            <tr>
                {% for col, name in column_names.items %}
                    <td>{{ item|get_item:col }}</td>
                {% endfor %}
                <td>
                    {% if type == 'Persons' %}
                        <a href="{% url 'gift_manager:person_detail' item.person_id %}" class="btn btn-info btn-sm">View</a>
                        <a href="{% url 'gift_manager:person_edit' item.person_id %}" class="btn btn-warning btn-sm">Edit</a>
                    {% elif type == 'Gifts' %}
                        <a href="{% url 'gift_manager:gift_detail' item.gift_id %}" class="btn btn-info btn-sm">View</a>
                        <a href="{% url 'gift_manager:gift_edit' item.gift_id %}" class="btn btn-warning btn-sm">Edit</a>
                    {% elif type == 'Events' %}
                        <a href="{% url 'gift_manager:event_detail' item.event_id %}" class="btn btn-info btn-sm">View</a>
                        <a href="{% url 'gift_manager:event_edit' item.event_id %}" class="btn btn-warning btn-sm">Edit</a>
                    {% elif type == 'Status' %}
                        <a href="{% url 'gift_manager:relation_status_detail' item.pk %}" class="btn btn-info btn-sm">View</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function() {
        var order = [[0, 'asc']];  // Default order is ascending
        if ("{{ type }}" === "Status") {
            order = [[0, 'desc']];  // Order by descending for Status
        }
        $('#data-table').DataTable({
            "order": order
        });
    });
</script>
{% endblock %}
