{% extends "gift_manager/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}Gift Manager - {{ action }} {{ translated_type }}{% endblock %}

{% block content %}
<div class="container form-page-container">
  <div class="form-page-header">
    <h1>{{ action }} {{ translated_type }}</h1>
  </div>

  <form method="post"
        action="{{ form_action_url }}"
        id="main-form"
        class="page-form {{ form_css_class }}"
        data-form-type="{{ form_type }}"
        data-track-changes>
    {% csrf_token %}

    <div class="form-fields">
      {% include "gift_manager/includes/forms/errors.html" %}
      {% if form_fields_template %}
        {% include form_fields_template %}
      {% else %}
        {% include "gift_manager/includes/forms/generic_fields.html" %}
      {% endif %}
      {% include "gift_manager/includes/forms/sharing_section.html" %}
    </div>

    {% include "gift_manager/includes/forms/actions.html" %}
  </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'gift_manager/unsaved-changes.js' %}"></script>
{% endblock %}
