{% extends "gift_manager/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}Gift Manager - {{ action }} {{ type }}{% endblock %}

{% block content %}
<div class="container form-page-container">
  <div class="form-page-header">
    <h1>{{ action }} {{ type }}</h1>
  </div>

  <form method="post"
        id="main-form"
        class="page-form event-form"
        data-form-type="event-edit"
        data-track-changes>
    {% csrf_token %}
    <div class="form-fields">
      {% include "gift_manager/includes/forms/errors.html" %}
      {% include "gift_manager/includes/forms/event_fields.html" %}
    </div>
    {% include "gift_manager/includes/forms/actions.html" with form_surface="page" %}
  </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'gift_manager/unsaved-changes.js' %}"></script>
{% endblock %}
