{% extends "gift_manager/base.html" %}
{% load custom_filters %}

{% block title %}Gift Detail{% endblock %}

{% block content %}
<h1 class="my-4">Gift Detail</h1>
<p><strong>Name:</strong> {{ gift.name }}</p>
<p><strong>Comment:</strong> {{ gift.comment }}</p>
<p><strong>Tags:</strong> {% for tag in gift.tags.all %}{{ tag.name }} {% endfor %}</p>
<p><strong>Shared With:</strong> {% for user in gift.shared_with.all %}{{ user.username }} {% endfor %}</p>

<a href="{% url 'gift_manager:gift_edit' gift.gift_id %}" class="btn btn-warning mb-3">Edit Gift</a>

<h2 class="my-4">Persons related to this gift</h2>
<a href="{% url 'gift_manager:add_gift_relation' gift.gift_id %}" class="btn btn-primary mb-3">Add Relation</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Person</th>
            <th>Status</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        {% for relation in relations %}
            <tr>
                <td>{{ relation.person.first_name }} {{ relation.person.family_name }}</td>
                <td>{{ relation.status.status }}</td>
                <td>{{ relation.due_date|replace_none:"-" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
