{% extends "gift_manager/base.html" %}
{% load custom_filters %}

{% load i18n %}
{% block title %}{% trans "Gift details" %}{% endblock %}

{% block content %}
<h1 class="my-4">{% trans "Gift details" %}</h1>
<p><strong>{% trans "Name:" %}</strong> {{ gift.name }}</p>
<p><strong>{% trans "Comment:" %}</strong> {{ gift.comment }}</p>
<p><strong>{% trans "Tags:" %}</strong> {% for tag in gift.tags.all %}{{ tag.name }} {% endfor %}</p>
<p><strong>{% trans "Shared With:" %}</strong> {% for user in shared_with.all %}{{ user.username }} {% endfor %}</p>

<a href="{% url 'gift_manager:gift_edit' gift.gift_id %}" class="btn btn-warning mb-3">{% trans "Edit gift" %}</a>

<h2 class="my-4">{% trans "Persons related to this gift" %}</h2>
<a href="{% url 'gift_manager:gift_relation_create' gift.gift_id %}" class="btn btn-primary mb-3">{% trans "Add Relation" %}</a>
<table id="data-table" class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Person" %} / {% trans "Group" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Due Date" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for relation in relations %}
            <tr>
                {% if relation.person %}
                    <td><a href="{% url 'gift_manager:person_detail' relation.person.person_id %}">{{ relation.person.first_name }} {{ relation.person.family_name }}</a></td>
                {% elif relation.group %}
                    <td><a href="{% url 'gift_manager:person_group_detail' relation.group.group_id %}">{{ relation.group.name }}</a></td>
                {% else %}
                    <td>Bad relation</td>
                {% endif %}
                <td>{{ relation.status.status }}</td>
                <td>{{ relation.due_date|replace_none:"-" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function() {
        $('#data-table').DataTable({
            "order": [[1, 'desc']]
        });
    });
</script>
{% endblock %}
