{% extends "gift_manager/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}Gift Manager - {% trans "Add Persons" %}{% endblock %}

{% block content %}
<div class="container form-page-container">
  <div class="form-page-header">
    <h1>{% trans "Add Persons to" %} {{ group.name }}</h1>
  </div>

  {% url 'gift_manager:person_group_detail' group.group_id as cancel_url %}
  <form method="post"
        id="main-form"
        class="page-form person-group-members-form"
        data-form-type="person-group-members"
        data-track-changes>
    {% csrf_token %}
    <div class="form-fields">
      {% include "gift_manager/includes/forms/errors.html" %}
      {% include "gift_manager/includes/forms/generic_fields.html" %}
    </div>
    {% include "gift_manager/includes/forms/actions.html" with form_surface="page" %}
  </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'gift_manager/unsaved-changes.js' %}"></script>
{% endblock %}
