{% extends "gift_manager/base.html" %}
{% load custom_filters %}

{% load i18n %}
{% block title %}{% trans "Person details" %}{% endblock %}

{% block content %}
<h1 class="my-4">{% trans "Person details" %}</h1>
<p><strong>{% trans "First name:" %}</strong> {{ person.first_name }}</p>
<p><strong>{% trans "Family name:" %}</strong> {{ person.family_name }}</p>
<p><strong>{% trans "Email address:" %}</strong> {{ person.email_address|replace_none:"" }}</p>
<p><strong>{% trans "Groups:" %}</strong> {% for group in person.groups.all %}<a href="{% url 'gift_manager:person_group_detail' group.group_id %}">{{ group.name }}</a> {% endfor %}</p>
<p><strong>{% trans "Creation date:" %}</strong> {{ person.creation_date|replace_none:"" }}</p>

<div class="mt-4">
    <h5>{% trans "Shared with:" %}</h5>
    {% if shared_users %}
    <ul class="list-group">
    {% for shared_user in shared_users %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ shared_user.user.username }}
      <span class="badge bg-primary rounded-pill">{{ shared_user.permission_label }}</span>
    </li>
    {% endfor %}
    </ul>
    {% else %}
    This person is not shared with any friend.
    {% endif %}
</div>
<div class="mt-4">
</div>

{% if is_editor %}
    <a href="{% url 'gift_manager:person_edit' person.person_id %}" class="btn btn-warning mb-3">{% trans "Edit person" %}</a>
{% else %}
    <button class="btn btn-warning mb-3" disabled style="opacity: 0.5;" data-toggle="tooltip" title="{% trans 'You do not have permission to edit this object' %}">{% trans "Edit person" %}</button>
{% endif %}
<a href="{% url 'gift_manager:person_delete' person.person_id %}" class="btn btn-danger mb-3"{% if not is_editor %} data-toggle="tooltip" title="{% trans 'You do not have permission to delete this object so it will only be unshared with you' %}"{% endif %}>{% trans 'Delete person' %}</a>

<h2 class="my-4">{% trans "Gifts for this person" %}</h2>
<a href="{% url 'gift_manager:person_relation_create' person.person_id %}" class="btn btn-primary mb-3">{% trans "New gifting" %}</a>
<table id="data-table" class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Gift" %}</th>
            <th>{% trans "Comment" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Event" %}</th>
            <th>{% trans "Due Date" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for relation in relations %}
            <tr>
                <td><a href="{% url 'gift_manager:gift_detail' relation.gift.gift_id %}">{{ relation.gift.name }}</a></td>
                <td class="{% if not relation.comment %}text-center{% endif %}">{{ relation.comment|replace_empty:"-" }}</td>
                <td data-order="{{ relation.status }}" data-search="{% for stat in relation_statuses %}{% if relation.status == stat.pk %}{{ stat.status }}{% endif %}{% endfor %}">
                    <select class="relation_status" data-relation-id="{{ relation.relation_id }}">
                        {% for stat in relation_statuses %}
                            <option value="{{ stat.pk }}" {% if relation.status.pk == stat.pk %}selected{% endif %}>
                                {{ stat.status }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td class="{% if not relation.event %}text-center{% endif %}">{{ relation.event.name|replace_empty:"-" }}</td>
                <td class="{% if not relation.due_date %}text-center{% endif %}">{{ relation.due_date|replace_empty:"-" }}</td>
                <td class="text-center">
                    <a href="{% url 'gift_manager:gift_detail' relation.gift.gift_id %}" class="btn btn-primary btn-sm" data-toggle="tooltip" title="{% trans 'Show' %}">
                        <i class="fas fa-gift"></i>
                    </a>
                    <a href="{% url 'gift_manager:relation_detail' relation.relation_id %}" class="btn btn-info btn-sm" data-toggle="tooltip" title="{% trans 'Show' %}">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="{% url 'gift_manager:relation_edit' relation.relation_id %}" class="btn btn-warning btn-sm" data-toggle="tooltip" title="{% trans 'Edit' %}">
                        <i class="fas fa-edit"></i>
                    </a>
                    {% if not relation.group %}
                        <a href="{% url 'gift_manager:relation_delete' relation.relation_id %}" class="btn btn-danger btn-sm" data-toggle="tooltip" title="{% trans 'Delete' %}">
                            <i class="fas fa-trash"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5" class="text-center">{% trans "No gift for this person" %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function() {
        $('#data-table').DataTable({
            order: [[2, 'desc']]
        });
    });
    $('.relation_status').on('change', function(){
        console.log("Status updated on page");
        var relationId = $(this).data('relation-id');
        var newStatus = $(this).val();
        $.ajax({
            type: "POST",
            url: "{% url 'gift_manager:relation_status_update' %}",
            data: {
                'relation_id': relationId,
                'new_status': newStatus,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                console.log("Status updated");
            },
            error: function() {
                alert("Error: Relation status could not be updated.");
            }
        });
    });
</script>
{% endblock %}
