{% extends "gift_manager/base.html" %}
{% load custom_filters %}

{% load i18n %}
{% block title %}{% trans "Person Detail" %}{% endblock %}

{% block content %}
<h1 class="my-4">{% trans "Person Detail" %}</h1>
<p><strong>{% trans "First name:" %}</strong> {{ person.first_name }}</p>
<p><strong>{% trans "Family name:" %}</strong> {{ person.family_name }}</p>
<p><strong>{% trans "Email address:" %}</strong> {{ person.email_address }}</p>
<p><strong>{% trans "Groups:" %}</strong> {% for group in person.groups.all %}<a href="{% url 'gift_manager:person_group_detail' group.group_id %}">{{ group.name }}</a> {% endfor %}</p>
<p><strong>{% trans "Shared With:" %}</strong> {% for user in shared_with %}{{ user.username }} {% endfor %}</p>

<a href="{% url 'gift_manager:person_edit' person.person_id %}" class="btn btn-warning mb-3">{% trans "Edit Person" %}</a>

<h2 class="my-4">{% trans "Gifts for this person" %}</h2>
<a href="{% url 'gift_manager:add_person_relation' person.person_id %}" class="btn btn-primary mb-3">{% trans "Add Relation" %}</a>
<table id="data-table" class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Gift" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Event" %}</th>
            <th>{% trans "Due Date" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for relation in relations %}
            <tr>
                <td><a href="{% url 'gift_manager:gift_detail' relation.gift.gift_id %}">{{ relation.gift.name }}</a></td>
                <td>{{ relation.status.status }}</td>
                <td>{{ relation.event.name|replace_empty:"-" }}</td>
                <td>{{ relation.due_date|replace_none:"-" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function() {
        $('#data-table').DataTable();
    });
</script>
{% endblock %}
