{% extends "gift_manager/base.html" %}

{% load i18n %}

{% block extra_head %}
{% include "gift_manager/includes/person_grid_assets.html" %}
{% endblock %}

{% block title %}Gift Manager - {{ translated_type }}{% endblock %}

{% block content %}
{# Page header with title and actions #}
<div class="page-header">
    <h1>{{ translated_type }}</h1>
    <div class="page-header-actions">
        <a href="{% url 'gift_manager:person_create' %}" class="btn btn-primary" data-action="create">
            <i class="fas fa-plus me-2"></i>{% trans "Create new person" %}
        </a>
    </div>
</div>

{% include "gift_manager/includes/person_management_grid.html" %}
{% endblock %}

{% block extra_js %}
{% load static %}
<script src="{% static 'gift_manager/grid-utils.js' %}"></script>
<script src="{% static 'gift_manager/permission-utils.js' %}">{# Permission-aware UI utilities #}</script>
<script src="{% static 'gift_manager/filter-panel.js' %}"></script>
<script src="{% static 'gift_manager/inline-editing.js' %}"></script>
<script src="{% static 'gift_manager/bulk-operations.js' %}"></script>
<script src="{% static 'gift_manager/real-time-search.js' %}"></script>
<script src="{% static 'gift_manager/dynamic-filters.js' %}"></script>
{% include "gift_manager/includes/grid-translations.html" %}
{% include "gift_manager/includes/person_management_grid_script.html" %}
{% endblock %}
