{% extends "gift_manager/base.html" %}
{% load custom_filters %}

{% load i18n %}
{% block title %}{% trans "Gifting status details" %}{% endblock %}

{% block content %}
<h1 class="my-4">{% trans "Gifting status details" %}</h1>
<p><strong>{% trans "Status" %}:</strong> {{ status.status }}</p>

<h2 class="my-4">{% trans "Giftings with this status" %}</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Beneficiary" %}</th>
            <th>{% trans "Gift" %}</th>
            <th>{% trans "Event" %}</th>
            <th>{% trans "Due Date" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for relation in relations %}
            <tr>
                {% if relation.person %}
                <td><a href="{% url 'gift_manager:person_detail' relation.person.person_id %}">{{ relation.person.first_name }} {{ relation.person.family_name }}</a></td>
                {% else %}
                <td><a href="{% url 'gift_manager:person_group_detail' relation.group.group_id %}">{{ relation.group.name }}</a></td>
                {% endif %}
                <td><a href="{% url 'gift_manager:gift_detail' relation.gift.gift_id %}">{{ relation.gift.name }}</a></td>
                <td>{{ relation.event.name|default:"-" }}</td>
                <td>{{ relation.due_date|replace_none:"-" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
