{% extends "gift_manager/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{{ translated_type }}{% endblock %}

{% block content %}
<h1 class="my-4">{{ translated_type }}</h1>
{% load custom_filters %}
<table id="data-table" class="table table-striped">
    <thead>
        <tr>
            {% for col, name in column_names.items %}
            <th>{{ name }}</th>
            {% endfor %}
            <th>{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
            <tr>
                {% for col, name in column_names.items %}
                    <td>{{ item|get_item:col|replace_none:"" }}</td>
                {% endfor %}
                <td style="white-space: nowrap;">
                    <a href="{% url 'gift_manager:relation_status_detail' item.pk %}" class="btn btn-info btn-sm" data-toggle="tooltip" title="{% trans 'Details' %}"><i class="fas fa-eye"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extra_js %}
<script src="{% static 'gift_manager/datatables-filters.js' %}"></script>
{% include "gift_manager/includes/datatables-translations.html" %}
<script>
    $(document).ready(function() {
        $('#data-table').initDataTableFilters({
            order: [[0, 'desc']],
            filterSelector: '.filter-icon',
            dropdownSelector: '.dropdown-filter',
            checkboxSelector: '.status-filter',
            thFilterClass: '.status-column-filter',
            language: dataTablesTranslations
        });
    });
</script>
{% endblock %}
