{% load i18n %}

<form method="post"
      id="relation-form"
      {% if object %}
      action="{% url 'gift_manager:relation_edit' object.relation_id %}"
      hx-post="{% url 'gift_manager:relation_edit' object.relation_id %}"
      {% elif form_action_url %}
      action="{{ form_action_url }}"
      hx-post="{{ form_action_url }}"
      {% else %}
      action="{% url 'gift_manager:relation_create' %}"
      hx-post="{% url 'gift_manager:relation_create' %}"
      {% endif %}
      hx-trigger="submit"
      hx-target="this"
      hx-swap="outerHTML"
      hx-indicator="#offcanvasLoading"
      class="offcanvas-form relation-form"
      data-form-type="{{ form_type|default:'relation-edit' }}">
  {% csrf_token %}

  <div class="form-fields">
    {% include "gift_manager/includes/forms/errors.html" %}
    {% include "gift_manager/includes/forms/relation_fields.html" %}
    {% include "gift_manager/includes/forms/sharing_section.html" %}
  </div>

  {% include "gift_manager/includes/forms/actions.html" with form_surface="offcanvas" %}
</form>
